
.contact{
    margin:120px 0 20px 0;
}
.contact-us{
    max-width: 600px;
    margin: auto;
    background-color: rgba(197, 204, 255, 0.763);
    padding:50px 30px;
    border-radius: 10px;
    box-shadow:#00308f8b 0px 1px 3px 0px, #00308f5e  0px 0px 0px 1px;
}
.row-form{
    display: flex;
    gap:10px;
}
textarea{
    resize: none;
    height: 100px;
}
.contact-us input, textarea{
    border: none;
    border-bottom: 2px solid var(--text-color-Force-blue);
    font-weight: var(--font-weight-5);
}